In [ ]:
Create a markdown cell with the title of the notebook:

In [ ]:
#Data Science Tools and Ecosystem

In [ ]:
Create a markdown cell for an introduction:

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
**Objectives:**
- List popular languages for Data Science.
- List the most used libraries by Data Scientists.
- List data science tools.
- Evaluating arithmetic expressions in Python.

In [ ]:
Create a markdown cell to list data science languages

In [ ]:
Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

In [ ]:
Create a markdown cell to list data science libraries

In [ ]:
Some of the commonly used libraries used by Data Scientists include:

TensorFlow
NumPy
SciPy

In [ ]:
Create a markdown cell with a table of Data Science tools

In [ ]:
import pandas as pd

data = {
    "Data Science Tools": ["SAS", "Apache Spark", "BigML"]
}

df = pd.DataFrame(data)

df

In [ ]:
Create a markdown cell introducing arithmetic expression examples

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
Create a code cell to multiply and add numbers

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

In [ ]:
Create a markdown cell to indicate the Author's name

In [ ]:
#Author

In [ ]:
Arlene Joy Nacion